<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    {{> meta}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno-zen.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}"/>
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <header id="menu-button" class="expanded">
      <a><i class="icon icon-list"></i></a>
    </header>
    {{> aside}}
    <main>
      <section id="search-results"></section>
      <section class="content">
        {{{body}}}
        {{> footer}}
      </section>
    </main>
    {{ghost_foot}}
    <script src="{{asset "js/uno-zen.js"}}" type="text/javascript" charset="utf-8"></script>
    {{> google-analytics}}

  	{{! Load and configure mathjax }}
	<script type="text/javascript"     src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>  
	<script type="text/x-mathjax-config">  
	MathJax.Hub.Config({  
		tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}  
	});
	</script>

	{{! Re-render MathJax in live preview}}
	<script>  
	var timeout,  
	    entry = document.getElementsByClassName('entry-markdown')[0];

		function mathjaxify()  
		{
			  var preview = document.getElementsByClassName('rendered-markdown')[0];
			    if (typeof(typeset) == "undefined" || typeset == true) {
					    MathJax.Hub.Queue(["Typeset", MathJax.Hub, preview]);  // renders mathjax if 'typeset' is true (or undefined)
						    typesetStubbornMath();
							  }

							    // Render the bits of math that have inexplicably still failed to render, while
								  // leaving the rest alone. (If you try to typeset the whole page, it will break
								    // other things)
								    function typesetStubbornMath() {
										    $(".MathJax_Preview").each( function() {
												        if($(this).text() != "") {
															        MathJax.Hub.Queue(["Typeset", MathJax.Hub, $(this).attr("id")]);
																	        }
																			        });
											  }
		}

		// Listen for Key Presses if on Editor
		if(entry) {  
			  jQuery(document).keypress(function(event) {
				        clearTimeout(timeout);
						      timeout = setTimeout(mathjaxify, 2001);
							        });
		}

		// Check for Change of Post Selection
		setTimeout(function(){  
			    jQuery('.content-list-content li').click(function(){ mathjaxify(); });
				    }, 500);
		</script>
		<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
  </body>
</html>
